@import "tailwindcss";

@theme {
  --font-serif: "Noto Serif KR", "Playfair Display", serif;
}

@config "../tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  @media (prefers-color-scheme: dark) {

    html,
    body {
      background: #fff !important;
    }
  }
}